.wrapper-loader {
  height: 100vh;
  background-color: #f3e300;
}

.container-loader {
  display: flex;
  justify-content: center;
}

@keyframes ldio-ksany99v4cs-1 {
  0% { top: 36.17999999999999px; height: 128.64px }
  50% { top: 60.3px; height: 80.39999999999999px }
  100% { top: 60.3px; height: 80.39999999999999px }
}
@keyframes ldio-ksany99v4cs-2 {
  0% { top: 42.20999999999999px; height: 116.58px }
  50% { top: 60.3px; height: 80.39999999999999px }
  100% { top: 60.3px; height: 80.39999999999999px }
}
@keyframes ldio-ksany99v4cs-3 {
  0% { top: 48.239999999999995px; height: 104.51999999999998px }
  50% { top: 60.3px; height: 80.39999999999999px }
  100% { top: 60.3px; height: 80.39999999999999px }
}
.ldio-ksany99v4cs div { position: absolute; width: 30.15px }.ldio-ksany99v4cs div:nth-child(1) {
  left: 35.175px;
  background: #020000;
  animation: ldio-ksany99v4cs-1 1s cubic-bezier(0,0.5,0.5,1) infinite;
  animation-delay: -0.2s
}
.ldio-ksany99v4cs div:nth-child(2) {
  left: 85.425px;
  background: #f52828;
  animation: ldio-ksany99v4cs-2 1s cubic-bezier(0,0.5,0.5,1) infinite;
  animation-delay: -0.1s
}
.ldio-ksany99v4cs div:nth-child(3) {
  left: 135.67499999999998px;
  background: #020000;
  animation: ldio-ksany99v4cs-3 1s cubic-bezier(0,0.5,0.5,1) infinite;
  animation-delay: undefineds
}

.loadingio-spinner-pulse-9ju1rpd5g0n {
  display: flex;
  align-items: center;
  width: 201px;
  height: 100vh;
  overflow: hidden;
}
.ldio-ksany99v4cs {
  width: 100%;
  height: 50%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0;
}
.ldio-ksany99v4cs div { box-sizing: content-box; }
